.stars {
    /*background: url("../img/star.png") no-repeat ;*/
    float:right;
    margin-right: 30px;
}
.stars img{
    display:inline;
    background-size: cover;
    height: 16px;
    width: 16px;
}

.block{
    padding-top:3px;
    font-size:25px;
    border-radius:2px;
    color:white;
    background: rgb(219,225,232);
    height: 32px;
    width: 70px;
    margin-left:10%;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    -ms-border-radius:2px;
    -o-border-radius:2px;
}
