h1,h2{
    font-family: 'Signika Negative', sans-serif;
}
a,p,h3{
    font-family: 'Lato', sans-serif;
}
span{
    font-family: 'Lato', sans-serif;
}
A:link { 
    text-decoration: none; 
   } 

body{
  color:rgb(51,73,95);
  background: rgb(234, 237, 241);
  margin-top: 50px;
  margin-left:100px;
  margin-right:70px;
}
.user img{
    margin-top:35px;
    border-radius: 120px;
    margin-left:25px;
    height: 150px;
    -webkit-border-radius: 120px;
    -moz-border-radius: 120px;
    -ms-border-radius: 120px;
    -o-border-radius: 120px;
}
.userInfo{
    margin-right: 90px;
    float:left;
    width: 435px;
    height: 295px;
    display:flex;
    flex-direction: column;
}
.user-text p{
    font-size:18px;
}
.user-text{
    font-size:20px;
    line-height: 0.7em;
    text-align: left;
    margin-left: 40px;
    margin-top:59px;

}
.user{   
    display:flex;
    flex-direction: row;
}
.colorWhite{
    background: white;
}
address{
    border-radius:5px;
    height: 295px;
    width: 825px;
    font-style:normal;
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
}

.user-links{
    display:flex;
    margin-top:25px;
    height: 80px;
}

.link{
    width: 115px;
    height: 81px;
}
.link-1{
    background: rgb(22,196,236) url(../img/link1.png) no-repeat;
}
.link-2{
    background: rgb(250,83,81) url(../img/link2.png) no-repeat;
}
.link-3{
    background: rgb(16,205,193) url(../img/link3.png) no-repeat;
}
.link-4{
    background: rgb(51,73,95) url(../img/link4.png) no-repeat;
}
address div{
width:50%;
}
.address-text{
    text-align: justify;
    margin-left:33px;
    font-size:18px;

    line-height: 1.66em;

}
.address-text p {
    margin-top:-10px;
}
.address-text h2{
    margin-top:50px;
    font-size:38px;
}
.contacts-container{
    vertical-align: top;
    margin-left:20px;
    display: flex;  
    height: 50px;
}
.contacts{
    margin-top:10px;
    width: 50px;
    height: 35px;

}
.contact-1{
    padding-right: 30px;
    background: white url(../img/contact-1.png) no-repeat;
}
.contact-2{
    padding-right: 20px;
    background: white url(../img/contact-2.png) no-repeat;
}
.contact-3{
    padding-right: 36px;
    background: white url(../img/contact-3.png) no-repeat;
}
.contact-4{
    padding-right: 25px;
    background: white url(../img/contact-4.png) no-repeat;
}
.contact-5{
    padding-right: 3px;
    background: white url(../img/contact-5.png) no-repeat;
}
.contact-6{
    background: white url(../img/contact-6.png) no-repeat;
}
.sites{
    margin-left:69px;
    margin-top:83px;
    font-size:1.22em;
}
.site{
    margin-top:-5px;
    color:rgb(250,83,81);
    letter-spacing:2px;
    margin-bottom:33px;
}
hr{
    color:black;
    width:267px;
    margin-left:-0px;
}
.container p{
    font-size: 18px;
    font-style: italic;
    font-family: 'Signika Negative';
    vertical-align: top;
   
}
.container * {  
    display: inline-block;
}

footer{

    margin-top:-267px;
    margin-left:380px;
}
.left-cv,.right-cv{
    color:rgb(206,212,221);
    margin-top:-15px;
    font-style: normal;
    font-family: 'Times new roman';
    font-size: 120px;
}

main{
    margin-top:35px;
}
main>div{
    display:inline-block;
    vertical-align: top;
}
.space{
    text-align: center;
    width: 85px;
    height: 1475px;
}
.timeline {
    height: 72%;
    margin-left: 50%;
    padding: 3em 2em 2em;
	position: relative;
	color: rgba(black, .7);
	border-left: 6px solid rgb(219,225,232);
}
.timeline-item {
    width: 18px;
    height: 18px;
    display: block;
    position: absolute;
    left: -12px;
    border-radius: 10px;
    content: '';
    background: white;
}
.item1{
    margin-top:1000px;
    background: rgb(219,225,232);
}
.item2{
    margin-top:955px;
}
.item3{
    margin-top:840px;
    background: rgb(219,225,232);
}
.item4{
    margin-top:758px;
}
.item5{
    background: rgb(219,225,232);
    margin-top:620px;
}
.item6{
    margin-top:480px;
}
.item7{
    background: rgb(219,225,232);
    margin-top:420px;
}
.item8{
    background: rgb(219,225,232);
    margin-top:215px;
}
.item9{
    margin-top:115px;
}
.leftcolumn{
    width: 630px;
}

.rightcolumn{
    width: 630px;
}

.new{
    border-radius:5px;
    padding-top:29px;
    padding-left:20px;
    margin-bottom:32px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
}
.news-container{
    width: inherit;
    display:flex;
    flex-direction: column;
}
.title{
    letter-spacing: 0.5px;
}
.decription-2{
    color:rgb(4, 188, 166);
    letter-spacing: 0.8px;
    margin-top:2px;
}

.decription{
    letter-spacing: 0.3px;
    font-size:17px;
    color:rgb(180,187,196);
    margin-left:10px;
}
.decription,.title{
    display: inline;
}
.text{
    line-height: 18px;
    margin-top:35px;
}
.text img{
    margin-left:5px;
    margin-right:8px;
    height: 18px;
    width: 20px;
    float:left;
}
.text p{
    letter-spacing: 0.1px;
    text-align: justify;
}
.news-footer>span{
    vertical-align: top;
    margin-left:5px;
}
.location{
    margin-right: 50px;
}
.news-footer img{
    margin-top:-2px;
}
.news-footer{
    font-size: 14px;
    margin-left:5px;
    margin-bottom: 20px;
    padding-top: 9px;
    vertical-align: top;
    margin-top:40px;
    height: 35px;
}
.web-site a{
    color:white;
}
.web-site-blue{
    background: rgb(22,196,236);
}
.rightcolumn .web-site{
    background: rgb(15,205,193);
}
.web-site-gray{
    background: rgb(176,187,202);
}
.web-site{
    padding-top: 8px;
    letter-spacing: 1px;
    text-align: center;
    margin-right: 19px;
    margin-top:-7px;
    height: 28px;
    width: 217px;
    float:right;
}

.colorGray{
    background: rgb(219,225,232);
}

.spaceline{
    margin-bottom: 32px;
    width: inherit;
    border-top:dotted;
    color:rgb(180,187,196);
}

.leftcolumn .date{
    color:rgb(180,187,196);
}
.leftcolumn .location{
    color:rgb(180,187,196);
}

.news-2 .text{
    margin-top:0px;
}
.news-3 .news-footer{
    margin-top:25px;
}
.news-4 .news-footer{
    margin-top:25px;
}
.news-4 .news-footer{
    margin-top:25px;
}
.news-5 .news-footer{
    margin-top:30px;
}
.news-6 .news-footer{
    margin-top:30px;
}
.news-7 .news-footer{
    margin-top:0px ;
    margin-bottom:0px;
}
.news-7 .decription-2{
    margin-top:0px;
    margin-bottom:5px;
}
.news-8 .news-footer{
    margin-top:0px;
    margin-bottom:0px;
}
.news-8 .decription-2{
    margin-bottom:0px;
}
.new .news-footer .date{
    letter-spacing: 0.5px;
}

.rightcolumn .new .decription{
    font-size:15px;

}
.rightcolumn .new .decription-2{
    margin-left:8px;
    font-size:15px;
    letter-spacing: 0.1px;
}
.rightcolumn .news-footer{
    font-size:13px;
}
.rightcolumn .new .title{
    font-size:22px;
    margin-left:8px;
}
.news-9{
    margin-top:10px;
}
